@page "/kids"

@inject NavigationManager NavigationManager;

<AuthorizeView>
    <NotAuthorized>
    @if (true)
        {
            NavigationManager.NavigateTo("/login");
        }
    </NotAuthorized>
    <Authorized>
        <NavBar></NavBar>
        <p>kids</p>
    </Authorized>
</AuthorizeView>


@code {
    
}