@inherits LayoutComponentBase

<div class="h-full w-full">
    <div class="w-full h-full bg-cover" style="background-image: url(https://images.pexels.com/photos/997443/pexels-photo-997443.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
        @Body
    </div>
</div>

